* {
    background-color: rgb(210, 247, 142);
}

#Top {
    color: chocolate;

}

.tito {
    background-color: yellow;
}

#tamo {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sabelo {
    font-size: large;
}

.fase {
    background-color: rgb(43, 172, 82);
}